* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* typography styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
html {
    font-family: mrs-eaves-xl-serif, Georgia, serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3em;
    font-feature-settings: "liga" 1, "onum" 1;

}

h1, h2 {
    font-family: mr-eaves-sans, Verdana, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" 0, "onum" 0, "lnum";
    letter-spacing: .08rem;
    margin-bottom: .5rem;

}

h1 {
    font-size: 1.75rem;
    line-height: 1.9rem;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.4rem;
}

p {
    margin-bottom: 1rem;

}

em {
    font-style: normal;
    font-feature-settings: "smcp";
}

#pageHeader p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 0;
}

.example {
    font-weight: 700;
}
/* layout styles */
main {
    margin: 0 auto;
    width: 95%;
    max-width: 37rem;
}

section {
    padding: 1rem;
}

#pageHeader {
    border-bottom: 1px solid #000000;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    max-width: 37rem; /* should match max-width of main */
}