* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* typography styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
html {
    font-size: 1rem;
    line-height: 1.3em;
}

h1, h2 {
    letter-spacing: .08rem;
    margin-bottom: .5rem;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.9rem;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.4rem;
}

p {
    margin-bottom: 1rem;

}

em {

}

#pageHeader p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 0;
}

.example {

}

/* layout styles */
main {
    margin: 0 auto;
    width: 95%;
    max-width: 37rem;
}

section {
    padding: 1rem;
}

#pageHeader {
    border-bottom: 1px solid #000000;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    max-width: 37rem; /* should match max-width of main */
}
